<div class="jumbotron">
	<h2>Customers</h2>
	
	<ul class="list-group">
		<% @customers.each do |customer| %>
			<li class="list-group-item">
				<address>
					<strong><%= customer.customername %> #<%= customer.customer_number %></strong><br>
					<%= customer.streetaddress %> <%= customer.streetaddress2 %><br>
					<%= customer.city %>, <%= customer.state %> <%= customer.zip %>
				</address>	
			</li>
		<% end %>
	</ul>
	<h2>Import Customers</h2>

	<%= form_tag import_customers_path, multipart: true do %>
		<%= file_field_tag :file %>
		<%= submit_tag "Import" %>
	<%end %>
	
</div>